*{
    
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url('IMG-1125.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Special Elite', cursive;
    width: 100%;
    height: auto;
    
}

/* Navbar */
nav{
    background: #5e6739 ;
    height: 70px;
    width: 100%;
    position: fixed;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: azure;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    position: sticky;

}

a.barra:hover{
    background: #908d3c;
    transition: .5s;
    color: #070600;
}

/* Container */

.container{
    display: grid;
    grid-template-columns: 1fr ;
}

/* image is not whole, how can I size it correctly? */
.container > div{
    height: calc(100vh-80px);
    background: url("Images/IMG-1890.jpg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}

.menu {
    grid-column: 1 / 3;
    

}
/* Name */
.name {
    grid-column: 1 / 3;
    align-content: center;
    text-align: right;
    /* font-family: 'Comforter', cursive; */
    font-size: 4vw;
    height: 150px;
    width: 100%;
    padding-top: 130px;
    padding-right: 30px;
    padding-bottom: 30px;
    letter-spacing: 5px;
   
}

.name:hover{
    color:#115492;
    transition: .8s;

}

.title {
    grid-column: 1 / 3;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 160px;
    font-size: 25px;
}



/* about */
#about {
   
    background-color: white;
    height: 600px;
    font-size: 18px;
}

#pic2{
    width: 30%;
    float: right;
    margin-top: 18px;
    border-radius: 50%;  
}

.greet{
    display: block;
    box-sizing: border-box;
    width: 65%;
    font-size: 18px;
    text-align: right;
    padding: 15px;
    margin: 18px 18px 20px 0px;
    line-height: 1.5em;
    
}
    
    
    
